.navigation {
  position: relative;


}

.mobile-navigation {
  @include pie-clearfix;
  position: relative;
  text-align: left;

  //Specifically using breakpoint nav here because it is contextually appropriate.
  //In almost all other cases, you should use breakpoint large.
  @include breakpoint($breakpoint-nav) {
    display: none;
  }
}

.mobile-trigger {
  @include copy-face;
  background-color: transparent;
  color: $link-color;
  font-size: 1.25em;
  padding: 0.5em 0;
  margin: 0;
  border: none;

  &:hover, &:focus {
    cursor: pointer;
  }
}

.mobile-trigger {
  margin-right: 1%;
  outline: none;
}

.site-header .container {
  position: relative;
}

.primary-navigation {
  display: none;
  clear: both;
  padding-top: 1em;
  padding-bottom: 0.5em;
  font-size: 1em;

  &.is-open {
    display: block;
  }

  @include breakpoint($breakpoint-nav) {
    padding-top: 3.5em;
    display: block;
  }

  li {
    a {
      color: $text-color-subtle;
      display: block;
      padding: .7em 0;
      position: relative;
      transition: all .2s;

      &::before {
        content: "";
        position: absolute;
        width: 4px;
        height: 30px;
        background: transparent;
        left: -1em;
        top: 50%;
        margin-top: -15px;
        transition: all .2s;
      }

      &:hover {
        color: $text-color;
        text-decoration: none;

        &::before {
          background: $border-color;
        }
      }
    }
  }

  li {
    text-align: left;
    border-top: 1px solid #f5f5f5;

    &.active a {
      color: $link-color;
      font-weight: 700;
      position: relative;

      @include breakpoint($breakpoint-nav) {
        &::before {
          background: $link-color;
        }
      }

    }

    @include breakpoint($breakpoint-nav) {
      text-align: left;
    }

    &:first-of-type {
      padding-top: 0;
      margin-top: 0;
      border-top: 0 none;
    }
  }
}

.primary-navigation {
  @include breakpoint($breakpoint-nav) {
    ul {
      li {
        margin-right: 1em;
        padding-bottom: 0.5em;

        &.last {
          margin-right: 0;
        }

        a {
          color: $text-color;
        }
      }
    }
  }
}

///// Secondary Navigation on internal pages

.secondary-navigation {
  @include title-face;
  border: 1px solid $border-color;
  padding: 1em 0.5em 0.5em 0.5em;
  margin-bottom: 1.5em;

  ul {
    margin: 0;

    li {
      @include divider-top;
      list-style-type: none;
    }

    ul li {
      padding-left: 1em;
    }
  }
}
