.navigation {
  position: relative;
}

.mobile-navigation {
  @include pie-clearfix;
  position: relative;
  text-align: right;

  @include breakpoint($breakpoint-nav) {
    display: none;
  }
}

.mobile-trigger {
  @include copy-face;
  background-color: transparent;
  color: $link-color;
  font-size: 1.25em;
  padding: 0.5em 0;
  margin: 0;
  border: none;

  &:hover, &:focus {
    cursor: pointer;
  }

  .trigger-text {
    color: $text-color-lighter;
    font-size: 0.875em;
    padding-left: 0.5em;
  }
}

.mobile-trigger {
  margin-right: 1%;
  outline: none;
}

.site-header .container {
  position: relative;
}

.primary-navigation {
  display: none;
  clear: both;
  padding-top: 1em;
  padding-bottom: 0.5em;
  font-size: 1em;

  &.is-open {
    display: block;
  }

  a {
    color: $text-color-lighter;
    display: block;
    position: relative;
    transition: all .2s;
    text-decoration: none;
    padding: .25em 0;

    &::before {
      content: "";
      position: absolute;
      width: 4px;
      height: 100%;
      background: transparent;
      left: -1em;
      top: 0;
      transition: all .2s;
    }

    @include breakpoint($breakpoint-nav) {
      &:hover {
        color: $text-color;

        &::before {
          background: $border-color;
        }
      }
    }
  }

  @include breakpoint($breakpoint-nav) {
    padding-top: 3.5em;
    display: block;
  }

  li {
    list-style: none;
    text-align: left;

    &.active > a {
      color: $link-color;
      font-weight: 700;
      position: relative;

      @include breakpoint($breakpoint-nav) {
        &::before {
          background: $link-color;
        }
      }
    }

    @include breakpoint($breakpoint-nav) {
      display: block;
      text-align: left;
    }

    &:first-of-type {
      padding-top: 0;
      margin-top: 0;
    }
  }
}

.parent {
  .parent-label {
    font-size: .75em;
    color: $text-color;
    text-transform: uppercase;
    margin: 2.5em 0 .5em;
    display: inline-block;
    font-weight: 500;
  }
}
