.palette-group {
  @include pie-clearfix;
  clear: both;
  margin-top: 1em;
  margin-bottom: 1.5em;

  .swatch {
    @include column(12);
    margin-bottom: 1.5em;
    border-radius: 4px;
    height: 150px;
    display: flex !important;
    justify-content: flex-end;
    flex-direction: column;
    padding: 1em 0;

    @include breakpoint($breakpoint-s) {
      @include column(6);

      &:nth-child(n+1) {
        @include last-col2;
      }
    }

    @include breakpoint($breakpoint-xl) {
      @include column(4);

      &:nth-child(n+2) {
        @include last-col3;
      }
    }


    .color {
      display: block;
      padding: 0 1em;
      opacity: .7;
      font-size: .875em;
    }

    .variable {
      display: block;
      padding: 0 1em;
      font-size: .875em;
      font-weight: bold;
    }
  }
}

.content-section {
  @include pie-clearfix;
  clear: both;
}
