// site-wide header styles
.site-name {
  @include screenreader-text;
}

.site-header {
  padding: 2em 0 2em 0;

  @include breakpoint($breakpoint-l) {
    padding-top: 4em;
  }

  .main-logo {
    @include breakpoint($breakpoint-xxs) {
      @include column(6);
    }

    @include breakpoint($breakpoint-l) {
      @include column(12);
    }

    img {
      height: 50px;

      @include breakpoint($breakpoint-m) {
        height: 70px;
      }
    }
  }

  .skip-link:focus {
    display: block;
    position: fixed;
    top: 2em;
    left: 0;
    right: 0;
    text-align: center;
  }
}
