%section.navigation
  %section.mobile-navigation
    %button.mobile-trigger{:'aria-controls' => 'primary-navigation' }
      %span.icon-menu
      %span.trigger-text Menu

  %nav.primary-navigation#primary-navigation
    %ul.navigation-item-group
    = tree_to_html(data.tree)
