%section.navigation
  %section.mobile-navigation
    %button.mobile-trigger{:'aria-controls' => 'primary-navigation' }
      %span.icon-menu

  %nav.primary-navigation#primary-navigation
    %ul.navigation-item-group
    - show_nav.each do |page|
      %li{ nav_active(page.path) }
        = link_to page.data.title, page.path
