---
title: Color Palette
---

.content
  %h1.page-title Color Palette

  %section.content-section
    %h2 Type Colors

    .palette-group
      .swatch{style: 'background-color: #444'}
        %span.color #444
        %span.variable $text-color
      .swatch{style: 'background-color: #353535'}
        %span.color #353535
        %span.variable $heading-color
      .swatch{style: 'background-color: #888'}
        %span.color #888
        %span.variable $text-color-subtle

  %section.content-section
    %h2 Accent Colors

    .palette-group
      .swatch{style: 'background-color: #f43530'}
        %span.color #f43530
        %span.variable $accent-color
      .swatch{style: 'background-color: #e6ebec'}
        %span.color #e6ebec
        %span.variable $accent-color-subtle
      .swatch{style: 'background-color: #bdc2c4'}
        %span.color #bdc2c4
        %span.variable $accent-color-subtle-dark

  %section.content-section
    %h2 Link Colors

    .palette-group
      .swatch{style: 'background-color: #f43530'}
        %span.color #f43530
        %span.variable $link-color
      .swatch{style: 'background-color: #cd100b'}
        %span.color #cd100b
        %span.variable $link-color-hover

  %section.content-section
    %h2 Button Colors

    .palette-group
      .swatch{style: 'background-color: #008cbc'}
        %span.color #008cbc
        %span.variable $button-color
      .swatch{style: 'background-color: #005370'}
        %span.color #005370;
        %span.variable $button-color-hover
      .swatch{style: 'background-color: #dedede'}
        %span.color #dedede
        %span.variable $button-color-subtle
      .swatch{style: 'background-color: #ccc'}
        %span.color #ccc
        %span.variable $button-color-subtle-hover

  %section.content-section
    %h2 Background Colors

    .palette-group
      .swatch{style: 'background-color: #fff'}
        %span.color #fff
        %span.variable $background-color
      .swatch{style: 'background-color: #f1f1f2'}
        %span.color #f1f1f2
        %span.variable $background-color-subtle

  %section.content-section
    %h2 Border Colors

    .palette-group
      .swatch{style: 'background-color: #d8dfe1'}
        %span.color #d8dfe1
        %span.variable $background-color
      .swatch{style: 'background-color: #bbb'}
        %span.color #bbb
        %span.variable $border-color-hover
