@mixin clearfix {
  overflow: hidden;
  *zoom: 1;
}

@mixin pie-clearfix {
  *zoom: 1;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin button {
  border-radius: 4px 4px;
  display: inline-block;
  padding: 0.75em 1em;
  text-decoration: none;
  color: $background-color;
  background-color: $button-color;
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  transition: all 0.2s;

  &:hover,
  &:focus {
    outline: 0;
    text-decoration: none;
    background-color: $button-color-hover;
    color: $background-color;
  }
}

@mixin button-highlight {
  @include button;
  background-color: $highlight-color;

  &:hover,
  &:focus {
    background-color: $highlight-color-hover;
  }
}

@mixin button-subtle {
  @include button;
  background-color: transparent;
  color: $button-color;
  border: 2px solid $border-color;

  &:hover,
  &:focus {
    color: $button-color-hover;
    border-color: $border-color-hover;
    background-color: transparent;
  }
}

@mixin button-reverse {
  @include button;
  background-color: $background-color-subtle;
  color: $link-color;
  &:hover,
  &:focus {
    color: $link-color-hover;
    background-color: $background-color;
  }
}

@mixin button-form {
  @include button;
  border: 0 none;
  font-size: 1em;
  &:hover,
  &:focus {
    cursor: pointer;
  }
}

@mixin screenreader-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin not-visually-hidden {
  border: inherit;
  clip: inherit;
  height: inherit;
  margin: inherit;
  overflow: inherit;
  padding: inherit;
  position: inherit;
  width: inherit;
}

// remove the "spinner" from number fields
@mixin remove-spinners {
  appearance: none;
  -moz-appearance: textfield;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
  }
}
