$text-color: #000;
$heading-color: #000;
$text-color-subtle: lighten($text-color, 30%);

$link-color: blue;
$link-color-hover: darken($link-color, 15%);

$highlight-color: #333;
$highlight-color-hover: darken($highlight-color, 15%);

$border-color: #ccc;

$background-color: #fff;
$background-color-subtle: #eee;

$footer-color: #fff;
