---
title: Modules
---

.content
  %h1 Modules

  %section.content-section
    %p.intro This section contains modules – blocks of code that describe larger chunks of the interface. These chunks may appear in many places across the site. What is displayed here is the base modular state of styling. More specific styling may be layered on top of these in more specific contexts.
